// Button Classes

.btn-accent-dark {
  $background: $blue-1000;
  $border: $blue-1000;
  $color: $blue-50;
  $hover-background: $blue-1100;
  @include button-variant(
    $background,
    $border,
    $color,
    $hover-background,
    $hover-border: $hover-background,
    $hover-color: $color,
    $active-background: $background,
    $active-border: $background,
    $active-color: $color,
    $disabled-background: $background,
    $disabled-border: $border,
    $disabled-color: $color
  );
  &--search {
    @extend .btn-accent-dark;
    $background: $blue-50;
    $border: $blue-300;
    $color: $blue-1000;
    $hover-background: $blue-300;
    @include button-variant(
      $background,
      $border,
      $color,
      $hover-background,
      $hover-border: $hover-background,
      $hover-color: $color,
      $active-background: $background,
      $active-border: $background,
      $active-color: $color,
      $disabled-background: $background,
      $disabled-border: $border,
      $disabled-color: $color
    );
  }
}

.btn-accent-light {
  $background: $blue-50;
  $border: $blue-50;
  $color: $blue-1100;
  $hover-background: $blue-300;
  @include button-variant(
    $background,
    $border,
    $color,
    $hover-background,
    $hover-border: $hover-background,
    $hover-color: $color,
    $active-background: $background,
    $active-border: $background,
    $active-color: $color,
    $disabled-background: $background,
    $disabled-border: $border,
    $disabled-color: $color
  );
}

.btn-outline-light {
  color: $blue-1000;
  $outline: $blue-300;
  $color-hover: $blue-1000;
  $active-background: $blue-300;
  $active-border: $active-background;
  background-color: $blue-50;
  @include button-outline-variant(
    $outline,
    $color-hover,
    $active-background,
    $active-border,
    $active-color: $color-hover
  );
}
