.card {
  border: none;
  color: $blue-1000;
  background-color: $blue-50;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  &-listing-responsive {
    @extend .card;
    min-width: 280px;
    max-width: 700px;
  }

  &-listing-details {
    @extend .card;
    min-width: 280px;
  }

  &-listing-y {
    @extend .card;
    min-width: 280px;
    max-width: 500px;
  }

  &-listing-description {
    @extend .card;
    width: 100%;
  }

  &-listing-seller {
    @extend .card;
    width: 100%;
  }
}

.my-card-img {
  border-radius: $border-radius $border-radius 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;

  &--details {
    @extend .my-card-img;
    padding-bottom: 20px;
  }
}

.img-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@media (min-width: 576px) {
  .my-card-img {
    border-radius: $border-radius $border-radius 0 0;
  }

  .my-card-img--details {
    border-radius: 0;
  }
}

@media (min-width: 700px) {
  .my-card-img,
  .my-card-img--details {
    border-radius: $border-radius 0 0 $border-radius;
  }

  .my-card-img--details {
    padding-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .my-card-img {
    border-radius: $border-radius 0 0 $border-radius;
  }

  .my-card-img--details {
    border-radius: 0;
  }

  .card {
    border-radius: $border-radius;

    &-listing-responsive {
      @extend .card;
      width: 700px;
    }
  }
}
