.carousel-item,
.carousel-inner {
  height: 100%;
}

@media (min-width: 768px) {
  .carousel {
    height: inherit;
  }
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: $carousel-control-icon-width;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: end;
  justify-content: end;
  width: fit-content;
  padding: 0;
  opacity: 1;
  margin: 0 10px;
}

.carousel-control--center {
  align-items: center;
  justify-content: center;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 4%;
  margin-bottom: 1rem;
  margin-left: 4%;
  list-style: none;
  width: fit-content;
  margin: auto;
}
.carousel-indicators--details {
  bottom: -10px;
}

@media (min-width: 992px) {
  .carousel-control-prev,
  .carousel-control-next {
    align-items: center;
    justify-content: center;
  }
}
