.data-field {
  width: 100%;
  display: flex;
  border-radius: $border-radius-pill;
  &--full {
    @extend .data-field;
    padding: $padding-y $padding-x;
    align-items: center;
    border: $border-width solid $component-active-bg;
    &-deadline {
      @extend .data-field--full;
      border: $border-width solid $light-red;
      background-color: $light-red;
      color: $dark-red;
      font-weight: $font-weight-bold;
    }
  }

  &--search {
    @extend .data-field;
    display: grid;
  }

  &--left-button {
    @extend .data-field;
    align-items: center;
    justify-content: center;
    padding: $padding-y $padding-x;
    border-radius: $border-radius-pill 0 0 $border-radius-pill;
  }

  &--left {
    @extend .data-field;
    align-items: center;
    padding: $padding-y $padding-x;
    border-radius: $border-radius-pill 0 0 $border-radius-pill;
    border: $border-width solid $component-active-bg;
    &-deadline {
      @extend .data-field--left;
      border: $border-width solid $light-red;
    }
    &-logo {
      @extend .data-field--left;
      width: fit-content;
      border: none;
    }
  }

  &--right-button {
    @extend .data-field;
    justify-content: center;
    align-items: center;
    padding: $padding-y $padding-x;
    border-radius: 0 $border-radius-pill $border-radius-pill 0;
    margin-left: -$border-width;
  }

  &--right {
    @extend .data-field;

    justify-content: center;
    align-items: center;
    padding: $padding-y $padding-x;
    background-color: $component-active-bg;
    border-radius: 0 $border-radius-pill $border-radius-pill 0;
    margin-left: -$border-width;

    &-accent {
      @extend .data-field--right;
      border: $border-width solid $blue-1000;
      background-color: $blue-1000;
      color: $blue-50;
      font-weight: $font-weight-bold;

      &-light {
        @extend .data-field--right-accent;
        border: $border-width solid $blue-300;
        background-color: $blue-50;
        color: $blue-1000;
        width: fit-content;
        .data-field--right-accent-light:hover {
          background-color: $blue-300;
          color: $blue-50;
        }
      }
    }

    &-deadline {
      @extend .data-field--right;
      border: none;
      background-color: $light-red;
      color: $dark-red;
      font-weight: $font-weight-bold;
    }

    &-navbar {
      @extend .data-field--right;
      background-color: $blue-1000;
      color: $blue-50;
      width: 100%;
      height: inherit;
      margin-left: -$border-width;
      z-index: 4;
    }
  }

  &--tag {
    @extend .data-field;
    display: inline;
    padding: 0.3rem 0.75rem;
    font-size: 14px;
    border: $border-width solid $component-active-bg;
    width: fit-content;
    &-green {
      @extend .data-field--tag;
      border: $border-width solid $green-300;
    }
  }
}
.right-width-small,
.right-width-large {
  text-align: center;
}

.right-width-small {
  width: 55px;
}

.right-width-large {
  width: 95px;
}

.w-inherit {
  width: inherit;
}

@media (min-width: 992px) {
  .data-field--right-navbar {
    background-color: $blue-50;
    color: $blue-1000;
  }
}
