// Search

.form-search-field {
  position: relative;
  justify-content: end;
  align-items: center;
}
.form-search-input {
  position: absolute;
}

#search-btn {
  z-index: -1;
}

#api-success-msg,
#sign-in-out-msg {
  background-color: $green-200;
  border: 2px solid rgba($green-500, 0.1);
  border-radius: $border-radius-pill;
  color: $green-1000;
  transition: 0.6s ease-in-out;
}

#api-fail-msg {
  background-color: $light-red;
  border: 2px solid rgba($dark-red, 0.1);
  border-radius: $border-radius-pill;
  color: $dark-red;
  transition: 0.6s ease-in-out;
}

#bid-form {
  border: $border-width solid $blue-300;
  border-radius: 0 0 0.4rem 0.4rem;
  background-color: $blue-300;
}

#last-bid-promo {
  background-color: $blue-300;
  border-radius: 0.4rem 0.4rem 0 0;
  height: 80px;
}

#register-to-bid {
  border-radius: 0 0 0.4rem 0.4rem;
}
