// Search

.form-search-field {
  position: relative;
  justify-content: end;
  align-items: center;
}
.form-search-input {
  position: absolute;
}

#api-success-msg {
  background-color: $green-200;
  border: 2px solid rgba($green-500, 0.1);
  border-radius: $border-radius-pill;
  color: $green-1000;
}
