// Color Pallette

//Green Colors
$green-50: #fdfdf8;
$green-200: #f4f5db;
$green-800: hsl(62, 57%, 43%);
$green-900: #848725;
$green-1000: #373910;

//Blue Colors
$blue-50: #fbfdfe;
$blue-300: #d4e8f5;
$blue-1000: #133a52;
$blue-1100: #0d2838;

//Warning colors
$dark-red: #932934;
$light-red: #f8d7da;

// Gray Colors
$gray-300: #dee2e6;

// Body
//
// Settings for the `<body>` element.

$body-bg: $green-50;
$body-color: $green-1000;
