// Components Padding

$padding-y: 0.9375rem; /* 15px */
$padding-x: 1.25rem; /* 20px */

// Active component

$component-active-color: $blue-50;
$component-active-bg: $blue-300;

// Form and Button
//

$input-btn-font-family: $content-font;

$input-btn-focus-width: 0.25rem;
$input-btn-focus-color: $blue-300;
$input-btn-focus-blur: 1;
$input-btn-focus-box-shadow: none;

// Form

$input-padding-y: $padding-y;
$input-padding-x: $padding-x;

$input-bg: $blue-50;

$input-btn-border-width: $border-width;
$input-focus-border-color: tint-color($component-active-bg, 80%);

$input-font-weight: $font-weight-semibold;
$form-text-font-weight: $input-font-weight;
$form-text-color: $blue-1000;

// Active when using form-label class

$form-label-margin-bottom: 0.25rem;
$form-label-font-size: $line-height-sm;
$form-label-font-weight: $font-weight-bold;
$form-label-color: $blue-1000;

$input-bg: $blue-50;

$input-focus-bg: $input-bg;
$input-focus-border-color: $component-active-bg;

$form-select-bg: $input-bg;
$form-check-input-bg: $input-bg;

$input-disabled-color: $gray-300;
$input-disabled-border-color: $gray-300;

$input-color: $blue-1000;
$input-border-color: $blue-300;
$input-border-width: $input-btn-border-width;

$input-border-radius: $border-radius-pill;
$input-border-radius-sm: $border-radius-pill;
$input-border-radius-lg: $border-radius-pill;

$input-placeholder-color: $blue-300;
$input-plaintext-color: $blue-1000;

// Carousels

$carousel-control-color: $green-1000;

$carousel-control-width: 4%;

$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-control-icon-width: 3rem;

$carousel-indicator-active-bg: $carousel-control-color;

// Buttons
$btn-padding-y: $padding-y;
$btn-padding-x: $padding-x;

$btn-font-weight: $font-weight-semibold;

$btn-border-radius: $border-radius-pill;
$btn-border-radius-sm: $border-radius-pill;
$btn-border-radius-lg: $border-radius-pill;

// Cards

$card-spacer-y: $spacer;
$card-spacer-x: $spacer;
