$enable-grid-classes: false;

$enable-cssgrid: true;

// Spacing for all body and components

$spacer: 1.25rem;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer,
  3: $spacer * 2,
  4: $spacer * 4,
);
