@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

// Custom Font
$header-font: "Source Sans Pro", sans-serif;
$content-font: arial;

$font-family-base: $header-font;

@import "../vendors/bootstrap/functions";
@import "../vendors/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap";

p,
span,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  font-family: $content-font;
}
