@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

// Custom Fonts
$header-font: "Source Sans Pro", sans-serif;
$content-font: "Mulish", sans-serif;

$font-family-base: $header-font;

// Margin reset
$paragraph-margin-bottom: 0rem;

// Adding secondary font to content
p,
a,
span,
ul,
ol,
li,
label,
figure,
figcaption,
blockquote {
  font-family: $content-font;
}

// Font Weight
$font-weight-semibold: 600;
$font-weight-bold: 700;
$headings-font-weight: $font-weight-bold;

// Line Height
$line-height-sm: 1.25 !default;
