@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

// Custom Fonts
$header-font: "Source Sans Pro", sans-serif;
$content-font: "Mulish", sans-serif;

$font-family-base: $header-font;

// Margin reset
$paragraph-margin-bottom: 0rem;

@import "../vendors/bootstrap/functions";
@import "../vendors/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap";

// Adding secondary font to content
p,
a,
span,
ul,
ol,
li,
label,
figure,
figcaption,
blockquote {
  font-family: $content-font;
}

// Font Wait
$font-weight-semibold: 600;
$font-weight-bold: 700;
