// Header Classes

header {
  background-color: $blue-1000;
  border-radius: $border-radius-pill;
}
.navbar {
  height: 100px;
  width: 100%;
  flex-wrap: nowrap;
  padding: 0;
  z-index: 3;
}

#navbarSupportedContent {
  z-index: 3;
}
.navbar-collapse {
  position: absolute;
  top: 50px;
  left: 0px;
  border-radius: 0 0 30px 30px;
  padding: 80px 40px 40px 40px;
  width: inherit;
  box-shadow: $box-shadow;
}

.empty-box {
  background-color: $blue-1000;
  height: 50px;
}

.navbar-brand {
  width: fit-content;
  white-space: normal;
  width: 174px;
  margin-right: 0;
  z-index: 2;
}

.nav-link {
  font-weight: $font-weight-bold;
  font-size: 1.25rem;
}

.navbar-toggler {
  border: none;
}

.data-field--right-navbar {
  z-index: 3;
}

// Header search

#search-form {
  position: relative;
  z-index: 4;
}

#search-results-container {
  position: relative;
  display: none;
  width: inherit;
  max-height: 300px;
  top: -30px;
  min-height: 100px;
  border-radius: 0 0 33px 33px;
  background-color: $blue-300;
  transition: 0.3s ease-in-out;
}

.search-result-border {
  border-bottom: 2px solid $blue-300;
}

#ham-button {
  z-index: 3;
}

@media (min-width: 992px) {
  header {
    background-color: $blue-50;
  }

  .navbar-collapse {
    position: static;
    border-radius: none;
    padding: 0;
    width: inherit;
    box-shadow: none;
  }

  #search-results-container {
    position: absolute;
    top: 30px;
    left: 0px;
  }

  .header-search-container {
    width: 300px;
  }
}
