// My Bootstrap Theme
$website-colors: (
  "light-green-1": $green-50,
  "light-green-2": $green-200,
  "dark-green-1": $green-800,
  "dark-green-2": $green-900,
  "dark-green-3": $green-1000,
  "light-blue-1": $blue-50,
  "light-blue-2": $blue-300,
  "dark-blue": $blue-1000,
);

$theme-colors: ();

// Merge the maps
$theme-colors: map-merge($theme-colors, $website-colors);
