@import "../base/colors";

// My Bootstrap Theme
$website-theme: (
  "green-50": $green-50,
  "green-200": $green-200,
  "green-800": $green-800,
  "green-900": $green-900,
  "green-1000": $green-1000,
  "blue-50": $blue-50,
  "blue-300": $blue-300,
  "blue-1000": $blue-1000,
  "blue-1100": $blue-1100,
);

@import "../base/functions";
@import "../base/variables";

$theme-colors: (
  "primary": $green-800,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $website-theme);

@import "../vendors/bootstrap";
